<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>BookRent</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div th:class="mainContainer">
        <div class="title">
            BookRent.com
        </div>
        <div class="content">
            <button class="button" onclick="window.location.href='/avBooks'">View Books</button>
        </div>
    </div>
</body>
</html>